<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'home'" (click)='AtualizaCabecalho("Home")'>Home</a>

      <a mat-list-item [matMenuTriggerFor]="menuServicos">
        <mat-icon>menu_open</mat-icon>Serviços
      </a>
      <mat-menu #menuServicos="matMenu" xPosition="after">
        <button mat-menu-item [routerLink]="'servicos/constelacao'" (click)='AtualizaCabecalho("Constelação")'
          (click)="drawer.mode === 'over' ? drawer.toggle() : ''">Constelação</button>
        <button mat-menu-item [routerLink]="'servicos/tarot'" (click)='AtualizaCabecalho("Tarot")'
          (click)="drawer.mode === 'over' ? drawer.toggle() : ''">Tarot</button>
        <button mat-menu-item [routerLink]="'servicos/mapaastral'" (click)='AtualizaCabecalho("Mapa Astral")'
          (click)="drawer.mode === 'over' ? drawer.toggle() : ''">Mapa Astral</button>
      </mat-menu>


      <!-- <a mat-list-item [matMenuTriggerFor]="afterMenu" [routerLink]="'produtos'" (click)='AtualizaCabecalho("Produtos")'>Produtos</a> -->
      <a mat-list-item [matMenuTriggerFor]="afterMenu" (click)='AtualizaCabecalho("Produtos")'>
        <mat-icon>menu_open</mat-icon>Produtos
      </a>
      <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item [routerLink]="'produtos/mandala'" (click)='AtualizaCabecalho("Mandalas")'
          (click)="drawer.mode === 'over' ? drawer.toggle() : ''">Mandalas</button>
        <button mat-menu-item [routerLink]="'produtos/japamala'" (click)='AtualizaCabecalho("Japamalas")'
          (click)="drawer.mode === 'over' ? drawer.toggle() : ''">Japamalas</button>
        <button mat-menu-item [routerLink]="'produtos/colar'" (click)='AtualizaCabecalho("Colares")'
          (click)="drawer.mode === 'over' ? drawer.toggle() : ''">Colares</button>
        <button mat-menu-item [routerLink]="'produtos/pulseira'" (click)='AtualizaCabecalho("Pulseiras")'
          (click)="drawer.mode === 'over' ? drawer.toggle() : ''">Pulseiras</button>
        <button mat-menu-item [routerLink]="'produtos/conjuntos'" (click)='AtualizaCabecalho("Conjuntos")'
          (click)="drawer.mode === 'over' ? drawer.toggle() : ''">Conjuntos</button>
      </mat-menu>
      <br>
      <!-- <div  align="center">
      <div  align="center">
        <table width="120" border="1" cellpadding="2" cellspacing="0" bgcolor="white">
          <tr>
            <td align="center" nowrap>
              <a (click)="mostraceu()" title="clique para ver o mapa"><img border="0" height="290" width="112" src="https://www.sadhana.com.br/ceu/ceu1034139.gif">
              </a><br>
            </td>
          </tr>
        </table>
      </div> -->
      <div align="center">
        <a href="#" class="fa fa-facebook"></a>
		<a target="_blank" href="damarisc.reges@gmail.com" name='google' class="fa fa-google"></a>
		<a target="_blank" href="https://www.youtube.com/user/Damaris8648" class="fa fa-youtube"></a>
		<a target="_blank" href="https://www.instagram.com/day_astrologymdalas/" class="fa fa-instagram"></a>
		<a target="_blank" href="https://api.whatsapp.com/send?phone=5562992188233&text=Ol%C3%A1,%20atrav%C3%A9s%20do%20site%20Damarys-Artymandalas%20encontrei%20seu%20contato.%20Pode%20me%20ajudar?" class="fa fa-whatsapp"></a>
    <a target="_blank" href="https://t.me/joinchat/HJzs4lbcTA5gHpSX" class="fa fa-telegram"></a>
    
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <mat-toolbar color="primary">
      <img mat-card-avatar src="./../assets/imagens/damarys1.jpg">
      <span>Day - Astrologymdalas </span>
      <span *ngIf='true'>{{head}}</span>
      <img mat-card-avatar src="./../assets/imagens/damarys2.jpeg">
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
<!----------------------------------------------------------------------------------->
  </mat-sidenav-content>
</mat-sidenav-container>