.sidenav-container {
  height: 100%;
  background-image: url(./../../assets/imagens/bkgroundHighDefinition.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 100px;
  justify-content: space-between;
}

.mat-card-avatar {
  height: 150px;
  width: 150px; 
  border-radius: 50%;
  align-items: flex flex-start;
}

a{
  color: azure;
}

.fa {  
  width: 25px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
  border-radius: 50%; 
}

.fa-facebook {
  background: #3B5998;
}

.fa-google {
  background: #dd4b39;
}

.fa-youtube {
  background: #bb0000;
}
.fa-instagram {
  background: #8a3ab9;
}

.fa-whatsapp {
  background: #4FCE5D;
}
.fa-telegram {
  background: black;
}