<!-- <mat-card class="dashboard-card">
    <mat-card-header>
        <mat-card-title title="{{title}}">
            {{title}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
        <div>Ok</div>
    </mat-card-content>
</mat-card> -->

<mat-card class="dashboard-card">
    <mat-card-header>
        <div id="avatar" *ngIf="ImagemExists()">
            <img mat-card-avatar [src]="imagem">
        </div>
        <mat-card-title>{{ titulo }}</mat-card-title>
        <mat-card-subtitle *ngIf="SubtituloExist()">{{ subtitulo }}</mat-card-subtitle>

    </mat-card-header>

    <mat-card-content>
        <iframe width="100%" [src]='SafeUrl'>
        </iframe>
    </mat-card-content>

</mat-card>