<div class="grid-container">
    <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="245px">

        <!--Mini Cards-->
        <mat-grid-tile *ngFor="let card of miniCards" [colspan]="( cardLayout | async )?.miniCard.cols"
            [rowspan]="( cardLayout | async )?.miniCard.rows">
            <app-card [titulo]="card.Titulo" [subtitulo]="card.SubTitulo" [imagem]="card.Imagem"
                [descricao]="card.Descricao">
                <div>Chart Content Here</div>
            </app-card>
        </mat-grid-tile>

        <!--Table-->
        <mat-grid-tile [colspan]="( cardLayout | async )?.table.cols" [rowspan]="( cardLayout | async )?.table.rows">
            <app-card-gallery title="Card 9" [images]="images">
            </app-card-gallery>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="( cardLayout  | async)?.table.cols" [rowspan]="( cardLayout  | async)?.table.rows">
            <app-card-youtube [url]='urlYoutube' [titulo]="'O que é Constelação'"
                [subtitulo]="'#Dinheiro #OSegredo'" [imagem]="" [descricao]="">

            </app-card-youtube>
        </mat-grid-tile>

        <!--Mini Cards-->
        <mat-grid-tile *ngFor="let card of miniCardContato" [colspan]="( cardLayout | async )?.miniCard.cols"
            [rowspan]="( cardLayout | async )?.miniCard.rows">
            <app-card [titulo]="card.Titulo" [subtitulo]="card.SubTitulo" [imagem]="card.Imagem"
                [descricao]="card.Descricao">
                <div>Chart Content Here</div>
            </app-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>