<div class="grid-container">
  <mat-grid-list cols="{{ ( cardLayout )?.columns }}" rowHeight="250px">
    <!--Mini Cards-->
    <!-- <mat-grid-tile *ngFor="let card of servicos" [colspan]="( cardLayout  )?.miniCard.cols"
      [rowspan]="( cardLayout  )?.miniCard.rows">
      <app-card [titulo]="card.Titulo" [subtitulo]="card.SubTitulo" [imagem]="card.Imagem" [descricao]="card.Descricao">
        <div>Mini Card Content Here</div>
      </app-card>
    </mat-grid-tile> -->

    <!--Charts-->
    <mat-grid-tile *ngFor="let card of servicos" [colspan]="( cardLayout )?.chart.cols"
      [rowspan]="( cardLayout )?.chart.rows">
      <app-card [titulo]="card.Titulo" [subtitulo]="card.SubTitulo" [imagem]="card.Imagem" [descricao]="card.Descricao">
        <div>Chart Content Here</div>
      </app-card>
    </mat-grid-tile>

    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout  )?.table.cols" [rowspan]="( cardLayout  )?.table.rows">
      <app-card title="Card 9">
        <div>Table Content Here</div>
      </app-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>